<h1>FAQ</h1>
<p>Q: Is there a free version?</p>
<p>A: Nope</p></br>
<p>Q: How do I contact support?</p>
<p>A: Email us - <a href="mailto:kiet123pascal@gmail.com">kiet123pascal@gmail.com</a></p>


<ul>
    {{range .}}
        {{template "qa" .}}
    {{end}}
</ul>



{{define "qa"}}
<p>Q: {{.Question}}</p>
<p>A: {{.Answer}}</p></br>
{{end}}